body {
    background-image: url('../bg.jpg');
    background-size: 100%
}

.card {
    max-width: 720px;
}

.hidden {
    display: none;
}

.stopped *,
.stopped *:before,
.stopped *:after {
  animation-play-state: paused !important;
}

.card-header{
    background-color: #222222;
    background-size: 30%;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 30s linear infinite;
    background-image: url("../bg.png");
}

#card-text{
    white-space: pre-wrap;
}

#title {
    animation: fadeIn 1s linear forwards;
}

#toText{
    opacity: 0;
    animation: fadeIn 1s linear 1s forwards;
}

#fromText{
    opacity: 0;
    animation: fadeIn 1s linear 2s forwards;
}

#miaw{
    font-size: xxx-large;
}

#video{
    width: 100%;
}

@keyframes animatedBackground {
	0% { background-position: 0% 0%; }
	100% { background-position: -100% 0%; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
